body{
    margin: 0px;
    padding: 0px;
    background: url(/docs/blur-bg04.gif);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur()

}

/* main project (center) */
.container{
    height: 659.5px;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7.5% auto;
    background-color:
    #8ea4c6;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 15px;
    position: relative;
}

.main{
    background: url(/docs/basic-bg06.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border: 11px solid rgb(0, 0, 0);
    position: relative;

}

    /* buttun css starts */

.btn{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-top: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,.70,70,0.12);
    transition: 0.9s;
    position: relative;
}
.in-btn{
     transition: 10.7s;
}

.in-btn i{
    color: #b22222;
    font-size: 93px;
    cursor: pointer;
    margin: 0 auto;
    transition: 1s;
}

.btn i:hover {
    color: #ff7bd7;
}
.btn:hover{
    color: #222222;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,.70,70,0.12) ,inset -10px -10px 15px rgba(255,255,255,0.5),inset 10px 10px 15px rgba(70,.70,70,0.12)  ;
    height: 170px;
    width: 170px;
}

.btn:active .in-btn{
    transform: rotate(80.5turn);

}

    
/* button css ends */

/* Live  character posetions starts */
img{
    position: absolute;
}
.stand{
    bottom: 75px;
    left: 374px;
    opacity: 1;
}
.jump{
    bottom: 80px;
    left: 368px;
    height: 76px;
    width: 61px;
    opacity: 0;
}
.qbox{
    height: 74px;
    /* width:50px; */
    top: 265px;
    left: 368px;
}
.dawg{
    bottom: 72px;
    right: 415px;
    height: 100px;
}
.castle{
    right: 18px;
    bottom: 75px;
    height: 235px;
}
.freeze{
    height: 70px;
    top: 100px;
    left: 370px;
}

/* Live  character posetions ends */

/* css animation starts */
.lol{
    height: 20px;
}
.stardiv{
    background-color: gold;
    border-radius: 50%;
    height: 79px;
    width: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 96px;
    left: 366px;
    opacity: 0;
}
.stardiv img{
    height: 70px;
}






.container:active .stand{
animation: standing 1.0s ease-in 0.4s normal;}
@keyframes standing {
    from{
        opacity: 0;
    }
    98%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.container:active .jump{
    animation: jumping 1.1s ease-in 0.4s normal;
}



@keyframes jumping {
   from{
    transform: translateY(0px);
    opacity: 1;
   } 
   18%{
    transform: translateY(-150px);
   }
   21%{
    transform: translateY(-150px);
   }
   60%{
    transform: translateY(-150px);
    transition-timing-function: ease-out;
   }
   90%{
    transform: translateY(0px);
    opacity: 1;
   }
   91%{opacity: 0;
   }
}

.container:active .qbox{
    animation: qboxanimation 1s ease-in-out 0.7s normal;
}

@keyframes qboxanimation {
    0%{
        top: 265px;
        left: 368px;
    }
    25%{
        top: 260px;
        left: 368px;
    }
    60%{
        top: 270px;
        left: 368px;
    }
    100%{
        top: 265px;
        left: 368px;
    }
}


.container:active .main > .stardiv{
    animation: fall 9s 1.7s forwards;
}

@keyframes fall {
    from{
        opacity: 0;
        top: 96px;
        left: 366px;
    }
    1%{
        opacity: 1;
    }
    10%{
    /* gets to the ground */
        top: 186px;
        left: 366px;
        animation-timing-function: ease-in;
    }
    15%{
        top: 120px;
        left:402px;
        animation-timing-function: linear;
    }
    18%{
        top:85px;
        left:438px;
    }
    23%{
        top: 65px;
        left: 480px;
    }

    35%{
        top: 50px;
        left: 542px;
        transform: translateX(0px);
        opacity: 1;
        animation-timing-function: linear;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity:1;
    }
    61%{
        opacity: 0;
    }
    61.5%{
        opacity: 1;
    }
    62%{
        opacity: 0;
    }
    62.5%{
        opacity: 1;
    }
    63%{
        opacity: 0;
    }
    64%{
        opacity: 1;
    }
    65%{
        top: 61px;
        left: 542px;
        opacity: 1; 
        transform: translateX(0px);
    }
    70%{
        transform: translateX(5px)
    }
    75%{
        transform: translateX(0px)
    }
    80%{
        transform: translateX(-5px)
    }
    85%{
        transform: translateX(0px)
    }
    90%{
        transform: translateX(5px)
    }
    95%{
        transform: translateX(0px);
        top: 386px;
        left: 542px;
        animation-timing-function: linear;
    }
    98%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 542px;
        top: 460px;
    }
}
.container:active .main > .freeze{
    animation: vanish 15s ease-in-out 1.8s forwards;
}
@keyframes vanish {
    from{

        opacity: 1;
    }
    1%{
        opacity: 0;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

/* css animation ends */

/* to next level in game starts */

.extra{
    position: absolute;
    bottom: 75px;
    right: 68px;
    background-color: black;
    height: 200px;
    width: 130px;
}

.go video{
    height: 100px;
    width: 100px;
    opacity: 0;

}

.go{
    position: absolute;
    bottom: 72px;
    right: 80px;
}

/* its animation... */
.container:active .main > .go video{
    animation: moon 20s ease-in-out 0s normal;
}

@keyframes moon {
    from{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}
.brother{
    height: 52px;
    bottom: 216px;
    right: 74.5px;
    opacity: 0;
}
.container:active .main > .brother{
    animation: brooo 15s ease-in-out 1.5s normal;
}
@keyframes brooo {
    from{
        opacity: 0;
    }
    20%{
        opacity: 0.9;
    }
    30%{
        opacity: 0.9;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.gf{
    height: 59px;
    bottom: 208px;
    right: 155px;
    opacity: 0;
}
.container:active .main > .gf{
    animation: gff 15s ease-in-out 0.5s normal;
}
@keyframes gff {
    from{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    45%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.king{
    height:140px;
    transform:scaleX(-1);
    right: 66px;
    bottom: 260px;
    opacity: 0;
}
.container:active .main > .king{
    animation: kingshrek 15s ease-in-out 0.5s normal;

}
@keyframes kingshrek {
        from{
            opacity: 0;
        }
        20%{
            opacity: 0;
        }
        30%{
            opacity: 0;
        }
        45%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        92%{
            opacity: 0;
        }
        94%{
            opacity: 1;
        }
        95%{
            opacity: 0;
        }
        100%{
            opacity: 0;
        } 
}

/* to next level in game ends */